/* Text
---------------*/
@font-face {
	font-family: 'RealFont';
	src: url('../fonts/RealFont.woff');
	font-style: normal;
	font-weight: normal;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 40px;
    color: tomato;
}
h4 {
    color: darkkhaki;
    font-weight: 100;
    font-size: 20px;
}
/*-------------*/

/* Main
---------------*/
body {
    font-family: "RealFont", sans-serif;
    text-align: center;
}
body, ul, h1, h4 {
    margin: 0;
    padding: 0;
}
/*-------------*/
div {
    width: 90%;
    height: calc(100% - 100px);
    margin: 0 auto;
}
span {
    color: tomato;
}

.github {
    position: fixed;
    display: block;
    bottom: 0;
    left: -130px;
    right: 0;
    height: 40px;
    background-color: #24292e;
    width: 120px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    border-radius: 0 10px 0 0;
    text-decoration: none;
    transition: left .3s, width .2s;
    font-family: 'Times New Roman', Times, serif;
}

.github:hover {
    width: 130px;
}

.github:hover .arrow {
    opacity: 1;
    left: 10px;
}


.github span {
    color: #fff;
    margin: auto 10px;
}

.github svg {
    margin: auto 0;
}

.github svg path {
    fill: #fff;
}

.github .arrow {
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity .3s, left .2s;
}

.github .arrow::after, .github .arrow::before {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #fff;
    position: absolute;
}

.github .arrow::after {
    transform: rotate(45deg);
    top: 4px;
}

.github .arrow::before {
    transform: rotate(-45deg);
    bottom: 4px;
}
